<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
    	<li><a href="<%= search_path %>" title=""><img src="<%= asset_path 'icons/control/32/publish.png' %>" alt=""><span>Rechercher</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
