<p>Bienvenue <%= @email %>!</p>
<br />
<p>Vous pouvez activer votre inscription au Sms Gateway en cliquant sur le lien ci dessous:</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
<br />
<p>PAYMONEY</p>
