<div class="statsRow">
  <div class="wrapper">
	<div class="controlB">
  	<ul>
    	<li><a href="<%= customer_message_path %>" title=""><img src="<%= asset_path 'icons/control/32/email.png' %>" alt=""><span>Envoyer un message</span></a></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
